<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git Pub</title>
</head>
<body>
  <style>
    body {color: gold; background-color: navy;}
    li {text-transform: capitalize;}
  </style>
  <h1>At foo bar</h1>
  <h2>
    <%= myDrink.name %> 
  </h2>
  <img src="<%= myDrink.image %> " alt="<%= myDrink.name %> ">
  <h3>
    <%= myDrink.price %> 
  </h3>
  <a href="/drinks">Back</a>
</body>
</html>