<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git Pub</title>
</head>
<body>
  <style>
    body {color: orangered; background-color: aquamarine;}
    li {text-transform: capitalize;}
  </style>
  <h1>Welcome to gitPub</h1>
  <h2>My Drinks</h2>
  <ul>
    <% for(let i = 0; i < allDrinks.length; i++) { %>
      <li>
        <a href="/fruits/<%= i %> "><%= allDrinks[i].name %> </a>
      </li> 
    <% } %>   
  </ul>
</body>
</html>