<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Drinks and Food On Me!</h1>
    <p>Welcome to GitPub</p>  
    <img src="https://images.unsplash.com/photo-1577308856961-8e9ec50d0c67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMG9uJTIwdGFibGV8ZW58MHx8MHx8&w=1000&q=80" class="img-fluid" alt="...">
  </div>

</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>